div{
    position: fixed;
    top: 30%;
    width: 50%;
    background-color: lightgrey;
    height: 200px;
    left: 30%;
}

.google{
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

p{
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.google:hover{
    border: 1px solid black;
}



