.header{
  width: 100%;
  height: 60px;
  margin-left: 0px;
  margin-top: 0px;
  position: fixed;
  background-color: indigo;
  overflow: hidden;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  text-align: center;

  float: left;

  color: white;

  position: fixed;

  left: 10px;
}

h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  color:coral;

  position: relative;;

  float: left;

  padding-left: 10px;

  padding-top: 5px;

}

.bottom{
  position: fixed;
  bottom: 0px;
  width: 90%;
  left: 10px;
  margin-bottom: 10px;
}

#frame {
}
  #input {
    width: 95%;
    font-size: 120%;
    box-sizing: border-box;
    height: 60px;
    border: 3px solid black;
    left: 5px;
    float: left;
  }

  .output {
    float:left;
  }

  #output > pre {
    margin-left: 5px;
  }
  .right {
      width: 95%;
      float:left;
  }
  .left{
      float: left;
  }

  #render_button{
    width: 100%;
    height: 30px;
    float: center;
    text-align: center;
    background-color: white;
    border: 1px solid black;
  }

  #add{
    width: fit-content;
    height: 30px;
    left: 0;
    margin-left: 7%;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    bottom: 20%;
  }

  .remove{
    display: none;
    float: right;
    background-color: rgb(231, 52, 52);
    border: 1px solid black;
    border-radius: 3px;
  }

  .edit{
    display: none;
    float: right;
    background-color: rgb(6, 226, 6);
    border: 1px solid black;
    border-radius: 3px;

  }

  .container{
    font-size: 120%;
    margin-top: .25em;
    border: 1px solid grey;
    min-height: 2em;
    min-width: 80%;
    max-width: fit-content;
    max-height: fit-content;
    overflow: auto;
  }

  .container:hover .remove{
    display: block;
  }

  .container:hover .edit{
    display: block;
  }

  .container:hover{
    background-color: #e0dede;
  }

  .cells{
    position: relative;
    height: 20em;
    overflow: auto;
    bottom: 50%;
  }

  .connect{
    display: block;
    float:right;
    width: 100px;
    height: 60px;
    border: 0px solid white;
    color: white;
    background-color: blueviolet;
    right: 5px;
  }
