
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width">
  <title>LatBoard</title>
  <script type="text/javascript" src="{{url_for('static', filename='js/mathJax.js')}}">
    </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body onload="after_load()">

<div id="frame">
<div class="header">
<h1>LatBoard</h1>
<button id="connect" class="connect" v-on:click="login">[[text]]</button>
</div>
<div id="menu">
  <input v-model="title" type="text" id="title" placeholder="Your board's name..." value="">
  <button id="save" v-on:click="save">Save</button>
  <button id="myBoards" v-on:click="board_list">My Boards</button>
  <p id="login_message">Please connect to save your boards</p>
</div>
<script>
  
</script>
<br>
<br>
<br/>

<div id="lst">
    <div class="cells">
    <ol>
      <todo-item
        v-for="item in List"
        v-bind:todo="item"
        v-bind:selected_id="selected_id"
        v-bind:key="item.id"
        v-bind:update="update"
        v-bind:del_element="del_element"
      ></todo-item>
    </ol>
  </div>
    <button id="add" v-on:click="add()">Add new cell</button>
  </div>

  <script>
  
</script>

<div class="bottom" id="render">
    <textarea @keydown="convert()" @keyup="convert()" placeholder="Type your equations..." id="input" rows="15" cols="10">
    [[current_text]]</textarea>
    <br>
    <div class="right">
    <input id="render_button" type="button" value="Update" v-on:click="convert()" />
</div>
</div>
</div>

</body>

<script>{% include 'components.js'%} </script>

</html>